[client]
<% if @port %>
port                           = <%= @port %>
<% end %>
<% if @socket_file %>
socket                         = <%= @socket_file %>
<% end %>
default-character-set          = utf8

[mysqld_safe]
socket                         = <%= @socket_file %>
<% if @nice %>
nice                           = 0
<% end %>
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysqld]
user                           = mysql
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

log-slow-queries = /var/log/slow_query.log
long_query_time = 1
#log-queries-not-using-indexes

# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links=0

key_buffer = 512M
max_allowed_packet = 100M
table_cache = 1024
sort_buffer_size = 4M
read_buffer_size = 4M
read_rnd_buffer_size = 16M
myisam_sort_buffer_size = 128M
max_connections = 256
query_cache_size = 64M
thread_concurrency = 8
join_buffer_size = 262144
character-set-server=utf8
skip-character-set-client-handshake
collation-server = utf8_unicode_ci
init-connect = SET NAMES utf8

#log-bin=mysqld-bin
#expire_logs_days=5

[mysqldump]
default-character-set = utf8

[mysql]
default-character-set = utf8
<% if @include_dir %>
    !includedir <%= @include_dir %>
<% end %>